<p id="notice"><%= notice %></p>

<p>
  <b>Long link:</b>
  <%= @link.long_link %>
</p>

<p>
  <b>Short link:</b>
  <%= link_to truncate(@link.long_link, :length => 17), @link.long_link %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
